package view

import (
    "main/view/layout"
    "main/model"
)

templ Fortune(fortune model.Fortune) {
    @layout.Base() {
        <div>
            { fortune.Body }
        </div>
        <div>
            <a href="/" class="btn">Back to Jars</a>
        </div>
    }
}
